// MARGINS E PADDINGS
// MARGINS
// Margin Top
.mt-4-n {
    margin-top: 4px !important;
}

.mt-8-n {
    margin-top: 8px !important;
}

.mt-16-n {
    margin-top: 16px !important;
}

.mt-24-n {
    margin-top: 24px !important;
}

.mt-32-n {
    margin-top: 32px !important;
}

.mt-40-n {
    margin-top: 40px !important;
}

.mt-48-n {
    margin-top: 48px !important;
}

.mt-56-n {
    margin-top: 56px !important;
}

.mt-80-n {
    margin-top: 80px !important;
}

.mt-120-n {
    margin-top: 120px !important;
}

// Margin Botton
.mb-0-n {
    margin-bottom: 0 !important;
}

.mb-4-n {
    margin-bottom: 4px !important;
}

.mb-8-n {
    margin-bottom: 8px !important;
}

.mb-16-n {
    margin-bottom: 16px !important;
}

.mb-24-n {
    margin-bottom: 24px !important;
}

.mb-32-n {
    margin-bottom: 32px !important;
}

.mb-40-n {
    margin-bottom: 40px !important;
}

.mb-48-n {
    margin-bottom: 48px !important;
}

.mb-56-n {
    margin-bottom: 56px !important;
}

.mb-80-n {
    margin-bottom: 80px !important;
}

.mb-120-n {
    margin-bottom: 120px !important;
}

// Margin Left
.ml-8-n {
    margin-left: 8px !important;
}

.ml-12-n {
    margin-left: 12px !important;
}

.ml-16-n {
    margin-left: 16px !important;
}

.ml-24-n {
    margin-left: 24px !important;
}

.ml-32-n {
    margin-left: 32px !important;
}

.ml-40-n {
    margin-left: 40px !important;
}

.ml-48-n {
    margin-left: 48px !important;
}

.ml-80-n {
    margin-left: 80px !important;
}

// Margin Right
.mr-8-n {
    margin-right: 8px !important;
}

.mr-12-n {
    margin-right: 12px !important;
}

.mr-16-n {
    margin-right: 16px !important;
}

.mr-24-n {
    margin-right: 24px !important;
}

.mr-32-n {
    margin-right: 32px !important;
}

.mr-40-n {
    margin-right: 40px !important;
}

.mr-48-n {
    margin-right: 48px !important;
}

.mr-56-n {
    margin-right: 56px !important;
}

.mr-80-n {
    margin-right: 80px !important;
}

// Margin Top and Bottom
.my-8-n {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.my-16-n {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.my-24-n {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.my-32-n {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.my-40-n {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.my-48-n {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

.my-56-n {
    margin-top: 56px !important;
    margin-bottom: 56px !important;
}

.my-80-n {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.my-120-n {
    margin-top: 120px !important;
    margin-bottom: 120px !important;
}

// Margin Left and Right
.mx-8-n {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.mx-16-n {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.mx-24-n {
    margin-left: 24px !important;
    margin-right: 24px !important;
}

.mx-32-n {
    margin-left: 32px !important;
    margin-right: 32px !important;
}

.mx-40-n {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mx-48-n {
    margin-left: 48px !important;
    margin-right: 48px !important;
}

.mx-80-n {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

// PADDINGS
// Padding Top
.pt-8-n {
    padding-top: 8px !important;
}

.pt-16-n {
    padding-top: 16px !important;
}

.pt-24-n {
    padding-top: 24px !important;
}

.pt-32-n {
    padding-top: 32px !important;
}

.pt-40-n {
    padding-top: 40px !important;
}

.pt-48-n {
    padding-top: 48px !important;
}

.pt-80-n {
    padding-top: 80px !important;
}

// Padding Botton
.pb-8-n {
    padding-bottom: 8px !important;
}

.pb-16-n {
    padding-bottom: 16px !important;
}

.pb-24-n {
    padding-bottom: 24px !important;
}

.pb-32-n {
    padding-bottom: 32px !important;
}

.pb-40-n {
    padding-bottom: 40px !important;
}

.pb-48-n {
    padding-bottom: 48px !important;
}

.pb-80-n {
    padding-bottom: 80px !important;
}

// Padding Left
.pl-8-n {
    padding-left: 8px !important;
}

.pl-16-n {
    padding-left: 16px !important;
}

.pl-24-n {
    padding-left: 24px !important;
}

.pl-32-n {
    padding-left: 32px !important;
}

.pl-40-n {
    padding-left: 40px !important;
}

.pl-48-n {
    padding-left: 48px !important;
}

.pl-80-n {
    padding-left: 80px !important;
}

// Padding Right
.pr-8-n {
    padding-right: 8px !important;
}

.pr-16-n {
    padding-right: 16px !important;
}

.pr-24-n {
    padding-right: 24px !important;
}

.pr-32-n {
    padding-right: 32px !important;
}

.pr-40-n {
    padding-right: 40px !important;
}

.pr-48-n {
    padding-right: 48px !important;
}

.pr-80-n {
    padding-right: 80px !important;
}

// Padding Top and Bottom
.py-4-n {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.py-8-n {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.py-16-n {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.py-24-n {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.py-32-n {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.py-40-n {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.py-48-n {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.py-80-n {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

// Padding Left and Right
.px-4-n {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.px-8-n {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.px-16-n {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.px-24-n {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.px-32-n {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.px-40-n {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.px-48-n {
    padding-left: 48px !important;
    padding-right: 48px !important;
}

.px-80-n {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

////////////////////
// RESPONSIVO
////////////////////
/* LARGE */
@media (min-width: 992px) and (max-width: 1199px) {}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 991px) {
    .mb-4-n-md {
        margin-bottom: 4px !important;
    }

    .mb-8-n-md {
        margin-bottom: 8px !important;
    }

    .mb-16-n-md {
        margin-bottom: 16px !important;
    }

    .mb-24-n-md {
        margin-bottom: 24px !important;
    }

    .mb-32-n-md {
        margin-bottom: 32px !important;
    }

    .mb-80-n-md {
        margin-bottom: 80px !important;
    }

    .mt-0-n-md {
        margin-top: 0px !important;
    }

    .mt-8-n-md {
        margin-top: 8px !important;
    }

    .mt-16-n-md {
        margin-top: 16px !important;
    }

    .mt-24-n-md {
        margin-top: 24px !important;
    }

    .mt-32-n-md {
        margin-top: 32px !important;
    }
    
    .mt-40-n-md {
        margin-top: 40px !important;
    }

    .mt-80-n-md {
        margin-top: 80px !important;
    }

    .mr-0-n-md {
        margin-right: 0 !important;
    }

    .mr-4-n-md {
        margin-right: 4px !important;
    }    

    .mr-8-n-md {
        margin-right: 8px !important;
    }

    .mr-24-n-md {
        margin-right: 24px !important;
    }

    .ml-4-n-md {
        margin-left: 4px !important;
    }  

    .my-16-n-md {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }

    .my-80-n-md {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
}

/* SMALL */
@media (min-width: 576px) and (max-width: 767px) {
    .mb-0-n-sm {
        margin-bottom: 0px !important;
    }

    .mb-4-n-sm {
        margin-bottom: 4px !important;
    }

    .mb-8-n-sm {
        margin-bottom: 8px !important;
    }

    .mb-24-n-sm {
        margin-bottom: 24px !important;
    }

    .mb-32-n-sm {
        margin-bottom: 32px !important;
    }

    .mb-80-n-sm {
        margin-bottom: 80px !important;
    }

    .mt-0-n-sm {
        margin-top: 0px !important;
    }

    .mt-8-n-sm {
        margin-top: 8px !important;
    }

    .mt-16-n-sm {
        margin-top: 16px !important;
    }

    .mt-24-n-sm {
        margin-top: 24px !important;
    }
    
    .mt-32-n-sm {
        margin-top: 32px !important;
    }

    .mt-40-n-sm {
        margin-top: 40px !important;
    }

    .mt-80-n-sm {
        margin-top: 80px !important;
    }

    .mr-0-n-sm {
        margin-right: 0 !important;
    }

    .mr-4-n-sm {
        margin-right: 4px !important;
    }    

    .mr-8-n-sm {
        margin-right: 8px !important;
    }

    .mr-24-n-sm {
        margin-right: 24px !important;
    }

    .ml-4-n-sm {
        margin-left: 4px !important;
    }  

    .mx-8-n-sm {
        margin-right: 8px !important;
        margin-left: 8px !important;
    }   

    .my-16-n-sm {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }

    .my-80-n-sm {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
}

/* EXTRA SMALL */
@media (max-width: 575px) {
    .mb-0-n-xs {
        margin-bottom: 0px !important;
    }

    .mb-4-n-xs {
        margin-bottom: 4px !important;
    }

    .mb-8-n-xs {
        margin-bottom: 8px !important;
    }

    .mb-24-n-xs {
        margin-bottom: 24px !important;
    }

    .mb-32-n-xs {
        margin-bottom: 32px !important;
    }

    .mb-80-n-xs {
        margin-bottom: 80px !important;
    }

    .mt-0-n-xs {
        margin-top: 0px !important;
    }

    .mt-8-n-xs {
        margin-top: 8px !important;
    }

    .mt-16-n-xs {
        margin-top: 16px !important;
    }

    .mt-24-n-xs {
        margin-top: 24px !important;
    }

    .mt-32-n-xs {
        margin-top: 32px !important;
    }    

    .mt-40-n-xs {
        margin-top: 40px !important;
    }

    .mt-80-n-xs {
        margin-top: 80px !important;
    }

    .mr-0-n-xs {
        margin-right: 0 !important;
    }

    .mr-4-n-xs {
        margin-right: 4px !important;
    }    

    .mr-8-n-xs {
        margin-right: 8px !important;
    }

    .ml-4-n-xs {
        margin-left: 4px !important;
    }     

    .mx-8-n-xs {
        margin-right: 8px !important;
        margin-left: 8px !important;
    }    

    .my-16-n-xs {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }

    .my-80-n-xs {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
}

////////////////////
// FIM RESPONSIVO
////////////////////