// COLORS
// Green
$g1: #8EF2C8;
$g2: #43DB9B;
$g3: #22AF74;
$g4: #0A9B5E;
// Yellow
$y1: #FFE596;
$y2: #F2C94C;
$y3: #F49B4B;
$y4: #F28B2F;
// Red
$r1: #FFA8A8;
$r2: #EB5757;
$r3: #CB1616;
$r4: #B00505;
// Blue
$b1: #9CDAFD;
$b2: #4EB0E7;
$b3: #168ACB;
$b4: #0670AC;
// Black
$k0: #FFFFFF;
$k1: #F2F2F2;
$k2: #E0E0E0;
$k3: #BDBDBD;
$k4: #828282;
$k5: #4F4F4F;
$k6: #333333;
// TAMANHO
$tamanho56: 56px;
$tamanho48: 48px;
$tamanho40: 40px;
$tamanho36: 36px;
$tamanho32: 32px;
$tamanho28: 28px;
$tamanho26: 26px;
$tamanho24: 24px;
$tamanho22: 22px;
$tamanho20: 20px;
$tamanho18: 18px;
$tamanho16: 16px;
$tamanho14: 14px;
$tamanho12: 12px;
$tamanho10: 10px;
