// TAMANHO
.buttonLarge {
    pointer-events: all;
    @include tituloBold($tamanho18, $k1, normal);
    height: 50px;
    background-color: $b1;
    border-radius: 25px;
    border: none;
    padding: 0 40px;
    cursor: pointer;
}

.buttonMedium {
    pointer-events: all;
    @include tituloBold($tamanho16, $k1, normal);
    height: 40px;
    background-color: $b1;
    border-radius: 25px;
    border: none;
    padding: 0 32px;
    cursor: pointer;
}

.buttonSmall {
    pointer-events: all;
    @include tituloBold($tamanho14, $k1, normal);
    height: 32px;
    background-color: $b1;
    border-radius: 25px;
    border: none;
    padding: 0 24px;
    cursor: pointer;
}

// CORES
.buttonBlue {
    color: $k1 !important;
    background-color: $b1 !important;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: $b2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonPink {
    color: $k1 !important;
    background-color: $p1 !important;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: $p2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonYellow {
    color: $k1 !important;
    background-color: $y1 !important;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: $y2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonGreen {
    color: $b1 !important;
    background-color: $g1 !important;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: $g2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonGray {
    color: $b1 !important;
    background-color: $k2 !important;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        background-color: $k3 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonDisable {
    color: $k3 !important;
    background-color: $k1 !important;
    cursor: not-allowed !important;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

// LINE
.buttonLineBlue {
    color: $b1 !important;
    background-color: transparent !important;
    border: 2px solid $b1;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        color: $b2 !important;
        border-color: $b2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonLinePink {
    color: $b1 !important;
    background-color: transparent !important;
    border: 2px solid $p1;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        color: $b2 !important;
        border-color: $p2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonLineYellow {
    color: $b1 !important;
    background-color: transparent !important;
    border: 2px solid $y1;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        color: $b2 !important;
        border-color: $y2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonLineGreen {
    color: $b1 !important;
    background-color: transparent !important;
    border: 2px solid $g1;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        color: $b2 !important;
        border-color: $g2 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.buttonLineGray {
    color: $b1 !important;
    background-color: transparent !important;
    border: 2px solid $k2;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &:hover {
        color: $b2 !important;
        border-color: $k3 !important;
        -moz-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}