// COLORS
// Blue
$b1: #055df9;
$b2: #0446c9;
$b3: #0041c2;
$b4: #0a116d;
// Pink
$p1: #fc5bb3;
$p2: #e33b97;
$p3: #d6388f;
// Yellow
$y1: #f9b61e;
$y2: #f7ad00;
$y3: #f2a305;
// Green
$g1: #01efad;
$g2: #00e3a3;
$g3: #00d99b;
// Black
$k1: #f4f4f4;
$k2: #eeeeee;
$k3: #dddddd;
$k4: #aaaaaa;
$k5: #666666;
$k6: #333333;
// Alerts
$a1: #47b074;
$a2: #ff666e;
$a3: #f7ad00;
// TAMANHO
$tamanho56: 56px;
$tamanho48: 48px;
$tamanho40: 40px;
$tamanho32: 32px;
$tamanho24: 24px;
$tamanho18: 18px;
$tamanho16: 16px;
$tamanho14: 14px;
$tamanho12: 12px;
$tamanho10: 10px;


// RESPONSIVO
/* LARGE */

@media (min-width: 992px) and (max-width: 1199px) {}

/* FIM LARGE */

/* MEDIUM */

@media (min-width: 768px) and (max-width: 991px) {}

/* FIM MEDIUM */

/* SMALL */

@media (min-width: 576px) and (max-width: 767px) {}

/* FIM SMALL */

/* EXTRA SMALL */

@media (max-width: 575px) {}

/* FIM EXTRA SMALL */

// FIM RESPONSIVO