// VAMOS AGENDAR
#vamos-agendar {
    margin: 0;
    padding: 80px 0;
    background-color: $k1;

    h2 {
        @include tituloBold($tamanho32, $b1, $tamanho32);
        margin: 0 0 32px 0;
        padding: 0;
    }

    .chamada-yalo {
        @include tituloRegular($tamanho14, $k5, $tamanho14);
        margin: 0 0 32px 0;
        padding: 16px;
        border: 1px solid $k3;
        border-radius: 4px;
        text-align: center;

        span {
            @include tituloBold($tamanho14, $k5, $tamanho14);
        }
    }

    .sub-titulo {
        @include tituloBold($tamanho24, $b1, $tamanho24);
        margin: 0 0 16px 0;
        padding: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0 0 16px 0;
            padding: 24px;
            background-color: white;
            border-radius: 4px;
            -moz-transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;

            &:last-of-type {
                margin: 0;
            }

            &:hover {
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
                -moz-transition: all 0.2s ease-out;
                -webkit-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }

            .link-detalhes {
                @include tituloBold($tamanho16, $k5, $tamanho16);
                margin: 0 0 8px 0;
                padding: 0;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                -moz-transition: all 0.2s ease-out;
                -webkit-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;

                &:hover {
                    color: $p1;
                    text-decoration: none;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }
            }

            .box-ver-preco {
                margin: 0;
                padding: 0;

                h3 {
                    @include tituloBold($tamanho16, $b1, normal);
                    margin: 0;
                    padding: 0;
                }

                p {
                    @include tituloRegular($tamanho14, $k5, normal);
                    margin: 0;
                    padding: 0;
                }
            }

            .tag-assinatura {
                h4 {
                    @include tituloBold($tamanho12, $g1, normal);
                    margin: 0;
                    padding: 4px 8px;
                    background-color: $b1;
                    border-radius: 4px;
                }
            }
        }
    }
}

////////////////////
// RESPONSIVO
////////////////////
/* LARGE */
@media (min-width: 992px) and (max-width: 1199px) {}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 991px) {
    #vamos-agendar {
        margin: 0;
        padding: 40px 0;
        background-color: $k1;

        h2 {
            @include tituloBold($tamanho28, $b1, $tamanho28);
            margin: 0 0 24px 0;
            padding: 0;
        }

        .chamada-yalo {
            @include tituloRegular($tamanho12, $k5, $tamanho12);
            margin: 0 0 24px 0;
            padding: 16px;
            border: 1px solid $k3;
            border-radius: 4px;
            text-align: center;
    
            span {
                @include tituloBold($tamanho12, $k5, $tamanho12);
            }
        }        

        .sub-titulo {
            @include tituloBold($tamanho20, $b1, $tamanho20);
            margin: 0 0 16px 0;
            padding: 0;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0 0 8px 0;
                padding: 24px;
                background-color: white;
                border-radius: 4px;
                -moz-transition: all 0.2s ease-out;
                -webkit-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;

                &:last-of-type {
                    margin: 0;
                }

                &:hover {
                    box-shadow: none;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }

                .link-detalhes {
                    @include tituloBold($tamanho14, $k5, $tamanho14);
                    margin: 0 0 8px 0;
                    padding: 0;
                    white-space: normal;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;

                    &:hover {
                        color: $p1;
                        text-decoration: none;
                        -moz-transition: all 0.2s ease-out;
                        -webkit-transition: all 0.2s ease-out;
                        -o-transition: all 0.2s ease-out;
                        transition: all 0.2s ease-out;
                    }
                }

                .box-ver-preco {
                    //width: 117.39px;
                    margin: 0;
                    padding: 0;

                    h3 {
                        @include tituloBold($tamanho14, $b1, normal);
                        margin: 0;
                        padding: 0;
                    }

                    p {
                        @include tituloRegular($tamanho12, $k5, normal);
                        margin: 0;
                        padding: 0;
                    }
                }

                .tag-assinatura {
                    h4 {
                        @include tituloBold($tamanho12, $g1, normal);
                        margin: 0;
                        padding: 4px 8px;
                        background-color: $b1;
                        border-radius: 4px;
                    }
                }                
            }
        }
    }
}

/* SMALL */
@media (min-width: 576px) and (max-width: 767px) {
    #vamos-agendar {
        margin: 0;
        padding: 40px 0;
        background-color: $k1;

        h2 {
            @include tituloBold($tamanho28, $b1, $tamanho28);
            margin: 0 0 24px 0;
            padding: 0;
        }

        .chamada-yalo {
            @include tituloRegular($tamanho12, $k5, $tamanho12);
            margin: 0 0 24px 0;
            padding: 16px;
            border: 1px solid $k3;
            border-radius: 4px;
            text-align: center;
    
            span {
                @include tituloBold($tamanho12, $k5, $tamanho12);
            }
        }           

        .sub-titulo {
            @include tituloBold($tamanho20, $b1, $tamanho20);
            margin: 0 0 16px 0;
            padding: 0;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0 0 8px 0;
                padding: 24px;
                background-color: white;
                border-radius: 4px;
                -moz-transition: all 0.2s ease-out;
                -webkit-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;

                &:last-of-type {
                    margin: 0;
                }

                &:hover {
                    box-shadow: none;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }

                .link-detalhes {
                    @include tituloBold($tamanho14, $k5, $tamanho14);
                    margin: 0 0 8px 0;
                    padding: 0;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;

                    &:hover {
                        color: $p1;
                        text-decoration: none;
                        -moz-transition: all 0.2s ease-out;
                        -webkit-transition: all 0.2s ease-out;
                        -o-transition: all 0.2s ease-out;
                        transition: all 0.2s ease-out;
                    }
                }

                .box-ver-preco {
                    margin: 0;
                    padding: 0;

                    h3 {
                        @include tituloBold($tamanho14, $b1, normal);
                        margin: 0;
                        padding: 0;
                    }

                    p {
                        @include tituloRegular($tamanho12, $k5, normal);
                        margin: 0;
                        padding: 0;
                    }
                }

                .tag-assinatura {
                    h4 {
                        @include tituloBold($tamanho12, $g1, normal);
                        margin: 0;
                        padding: 4px 8px;
                        background-color: $b1;
                        border-radius: 4px;
                    }
                }                
            }
        }
    }
}

/* EXTRA SMALL */
@media (max-width: 575px) {
    #vamos-agendar {
        margin: 0;
        padding: 40px 0;
        background-color: $k1;

        h2 {
            @include tituloBold($tamanho28, $b1, $tamanho28);
            margin: 0 0 24px 0;
            padding: 0;
        }

        .chamada-yalo {
            @include tituloRegular($tamanho12, $k5, $tamanho12);
            margin: 0 0 24px 0;
            padding: 16px;
            border: 1px solid $k3;
            border-radius: 4px;
            text-align: center;
    
            span {
                @include tituloBold($tamanho12, $k5, $tamanho12);
            }
        }           

        .sub-titulo {
            @include tituloBold($tamanho20, $b1, $tamanho20);
            margin: 0 0 16px 0;
            padding: 0;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0 0 8px 0;
                padding: 24px;
                background-color: white;
                border-radius: 4px;
                -moz-transition: all 0.2s ease-out;
                -webkit-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;

                &:last-of-type {
                    margin: 0;
                }

                &:hover {
                    box-shadow: none;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }

                .link-detalhes {
                    @include tituloBold($tamanho14, $k5, $tamanho14);
                    margin: 0 0 8px 0;
                    padding: 0;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;

                    &:hover {
                        color: $p1;
                        text-decoration: none;
                        -moz-transition: all 0.2s ease-out;
                        -webkit-transition: all 0.2s ease-out;
                        -o-transition: all 0.2s ease-out;
                        transition: all 0.2s ease-out;
                    }
                }

                .box-ver-preco {
                    margin: 0 8px 0 0;
                    padding: 0;

                    h3 {
                        @include tituloBold($tamanho14, $b1, normal);
                        margin: 0;
                        padding: 0;
                    }

                    p {
                        @include tituloRegular($tamanho12, $k5, normal);
                        margin: 0;
                        padding: 0;
                    }
                }

                .tag-assinatura {
                    h4 {
                        @include tituloBold($tamanho10, $g1, normal);
                        margin: 0;
                        padding: 0 8px;
                        background-color: $b1;
                        border-radius: 4px;
                        width: min-content;
                        height: 32px;
                        word-wrap: break-word;
                    }
                }                
            }
        }
    }
}

////////////////////
// FIM RESPONSIVO
////////////////////