// COLLAPSE
.collapseOnly {
    margin: 8px 0 0 0;

    .card-body {
        padding: 24px !important;
        background: $k1;
        @include textoRegular($tamanho14, $k5, $tamanho16);
        border: none;
        border-radius: 4px;
    }
}

// ACCORDION
#accordion {
    .card {
        border: none;
        border-radius: 4px;
        margin-bottom: 16px;
        .card-header {
            padding: 0;
            border: none;
            background: white;
            h5 {
                .btnLinkAccordion {
                    width: 100%;
                    @include tituloBold($tamanho16, $b1, $tamanho16);
                    white-space: normal;
                    text-align: left;
                    padding: 24px;
                    border: none;
                    background: white;
                    border-radius: 4px;
                    -moz-transition: all 0.2s ease-out;
                    -webkit-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;                    
                    &:hover {
                        color: $k5;
                    }
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }
                [aria-expanded="true"]{
                    color: white !important;
                    background-color: $b1;
                    border-radius: 4px 4px 0 0;
                    border: none;
                }

                [aria-expanded="false"]{
                    color: $b1 !important;
                    background-color: white;
                    border-radius: 4px;
                    border: 1px solid $k3;
                }
            }
        }
        .card-body {
            padding: 0 24px 24px 24px !important;
            background: $b1;
            @include textoRegular($tamanho14, white, $tamanho16);
            border-radius: 0 0 4px 4px;
            border: none;

            a {
                text-decoration: underline;
                @include textoBold($tamanho14, $b1, $tamanho16);
            }
        }  
        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
            -moz-transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
    }
}

////////////////////
// RESPONSIVO
////////////////////
/* LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 991px) {
    #accordion {
        .card {
            margin-bottom: 8px;
            .card-header {
                h5 {
                    .btnLinkAccordion {
                        width: 100%;
                        @include tituloBold($tamanho14, $k5, $tamanho14);
                        padding: 24px;
                    }
                }
            } 
        }
    }
}

/* SMALL */
@media (min-width: 576px) and (max-width: 767px) {
    #accordion {
        .card {
            margin-bottom: 8px;
            .card-header {
                h5 {
                    .btnLinkAccordion {
                        width: 100%;
                        @include tituloBold($tamanho14, $k5, $tamanho14);
                        padding: 24px;
                    }
                }
            } 
        }
    }
}

/* EXTRA SMALL */
@media (max-width: 575px) {
    #accordion {
        .card {
            margin-bottom: 8px;
            .card-header {
                h5 {
                    .btnLinkAccordion {
                        width: 100%;
                        @include tituloBold($tamanho14, $k5, $tamanho14);
                        padding: 24px;
                    }
                }
            } 
        }
    }
}
////////////////////
// FIM RESPONSIVO
////////////////////
